{% extends 'base.html.twig' %}

{% block title %}Stats index{% endblock %}

{% block body %}
    <h1>Stats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stat_date</th>
                <th>Stat_num</th>
                <th>Stat_c</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.id }}</td>
                <td>{{ stat.statDate ? stat.statDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stat.statNum }}</td>
                <td>{{ stat.statC }}</td>
                <td>
                    <a href="{{ path('app_stats_show', {'id': stat.id}) }}">show</a>
                    <a href="{{ path('app_stats_edit', {'id': stat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stats_new') }}">Create new</a>
{% endblock %}
