{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}
    <h1>Stats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stat.id }}</td>
            </tr>
            <tr>
                <th>Stat_date</th>
                <td>{{ stat.statDate ? stat.statDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Stat_num</th>
                <td>{{ stat.statNum }}</td>
            </tr>
            <tr>
                <th>Stat_c</th>
                <td>{{ stat.statC }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stats_index') }}">back to list</a>

    <a href="{{ path('app_stats_edit', {'id': stat.id}) }}">edit</a>

    {{ include('stats/_delete_form.html.twig') }}
{% endblock %}
